<script type='text/javascript'>
// <!-- 892008102
// This script is (C) Copyright 2004 Jim Tucek
// Leave these comments alone!  For more info, visit
// www.jracademy.com/~jtucek/email/

function freeze(grandfather,acid,year) {
grandfather += ' ';
var area = grandfather.length;
var edge = 0;
var drawer = '';
for(var heat = 0; heat < area; heat++) {
edge = 0;
while(grandfather.charCodeAt(heat) != 32) {
edge = edge * 10;
edge = edge + grandfather.charCodeAt(heat)-48;
heat++;
}
drawer += String.fromCharCode(run(edge,acid,year));
}
parent.location = 'm'+'a'+'i'+'l'+'t'+'o'+':'+drawer;
}

function get(composer,confidence,notice) {
composer += ' ';
var discovery = composer.length;
var diablura = 0;
for(var dissipation = 0; dissipation < discovery; dissipation++) {
diablura = 0;
while(composer.charCodeAt(dissipation) != 32) {
diablura = diablura * 10;
diablura = diablura + composer.charCodeAt(dissipation)-48;
dissipation++;
}
//document.write('&');
//document.write('#');
//document.write(run(diablura,confidence,notice));
document.write(String.fromCharCode(run(diablura,confidence,notice)));
}
}

function run(gesture,ability,minimum) {
if (minimum % 2 == 0) {
death = 1;
for(var object = 1; object <= minimum/2; object++) {
night = (gesture*gesture) % ability;
death = (night*death) % ability;
}
} else {
death = gesture;
for(var gold = 1; gold <= minimum/2; gold++) {
night = (gesture*gesture) % ability;
death = (night*death) % ability;
}
}
return death;
}
// -->
</script>

  <div class="footer">
    <div class="contact">
      <p>
        <a href="http://www.google.com/search?hl=en&q=Amir+Moulavi&btnG=Google+Search" title="google me" rel="alternate" type="application/rss+xml">
          <img src="/images/amirm.jpg" alt="" align="middle"/>
        </a>
      </p>
    </div>
    <div class="contact">
      <br />
      <strong>Twttr: </strong> <a href="http://twitter.com/mamirm/">@mamirm</a>
    </div>

    <div class="contact">
      <br />
      <strong>Work: </strong> <a href="http://jayway.com/">Jayway</a>
      <br />
      <strong>Code: </strong><a href="http://github.com/amir343/">github.com/amir343</a>
    </div>

   </div>
   <div class="twitter">
    <div id="twitter_div">
      &copy; 2012 Amir Moulavi
    </div>
  </div>

